<div class="small-12 columns">
    <div class="small-12 medium-6 columns">
        <h4>Profile Info</h4>
        <div ng-show="!authInfo">
            <div class="loader">
                <span>{</span><span>}</span>
            </div>
        </div>
        <div ng-show="authInfo">
            <p>Name: {{ authInfo.displayName }} </p>
            <p>Email: {{ authInfo.email }} &bull; Verified: {{ authInfo.emailVerified }}
                <br/> <a href="">Verify Email</a></p>
            <p>Image:
                <img ng-src="{{ authInfo.photoURL }}">
            </p>
        </div>
    </div>
    <div class="small-12 medium-6 columns">
        <h4>My CodeSides</h4>
        <span ng-repeat="item in list" ng-show="list"><a ui-sref="detail({ codeId: item.$id })" >{{ item.title }}</a> &bull; </span>
    </div>
</div>
<div class="small-12 columns">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <form ng-submit="updateUser()">
                <fieldset class="fieldset">
                    <legend>Update Profile</legend>
                    <div class="row">
                        <div class="small-12 columns">
                            <label>Your name
                                <input type="text" ng-model="formData.displayName" placeholder="eg. Abrakadabra Houdini" required>
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="button">
                </fieldset>
            </form>
        </div>
        <div class="small-12 medium-6 columns">
            <form ng-submit="updatePassword()">
                <fieldset class="fieldset">
                    <legend>Update Password</legend>
                    <div class="row">
                        <div class="small-12 columns">
                            <label>New Password
                                <input type="password" name="password" ng-model="newPassword">
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="button">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="small-12 columns" ng-show="authInfo.admin">
    <a class="button" ng-click="loadLanguages()">Initialize Languages</a>
</div>
