<div ng-show="loading" class="small-6 small-centered columns">
    <div class="loader">
        <span>{</span><span>}</span>
    </div>
</div>
<div class="row" ng-show="!loading">
    <div class="small-12 columns">
        <div class="small-12 medium-8 columns">
            <div class="callout">
                <h5> {{ formData.title }}</h5>
                <p>Created by: {{ formData.createdBy }} &bull; {{ formData.createdAt }}</p>
                <p>Available in these languages: <span ng-repeat="name in formData.snippets">{{ name.name }} &bull; </span> </p>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="row">
                <div class="small-12 columns">
                    <a ng-click="enableEditing()" class="button small expand margin-top">{{ editAllowed ? 'Enable' : 'Disable' }} editing</a>
                </div>
                <div class="small-12 columns" ng-show="!editAllowed">
                    <label>Choose code title
                        <input type="text" ng-model="formData.title">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="small-12 medium-6 large-6 column with-border padding">
        <form ng-submit="saveLanguage(codeOne)" name="myForm" novalidate>
            <div class="input-group">
                <span class="input-group-label">From</span>
                <select class="input-group-field" ng-model="codeOne.name" ng-model-options="{ updateOn: 'blur' }" ng-change="codeOneChanged(codeOne.name)" ng-disabled="editAllowed" ng-class="{ dimmed: refreshOne == true }" type='text' required>
                    <option ng-repeat="(lang, name) in languages" value="{{ lang }}"> {{ name }} </option>
                </select>
                <div class="input-group-button" ng-show="!editAllowed">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
            <textarea ui-codemirror ui-codemirror-opts="editorOptions" ui-refresh="codeOne.code" ng-model="codeOne.code" id="from_snippet" required></textarea>
        </form>
    </div>
    <div class="small-12 medium-6 large-6 column with-border padding">
        <form ng-submit="saveLanguage(codeTwo)" novalidate>
            <div class="input-group">
                <span class="input-group-label">To</span>
                <select class="input-group-field" ng-model="codeTwo.name" ng-model-options="{ updateOn: 'blur' }" ng-change="codeTwoChanged(codeTwo.name)" ng-disabled="editAllowed" ng-class="{ dimmed: refreshOne == true }" type='text' required>
                    <option ng-repeat="(lang, name) in languages" value="{{ lang }}"> {{ name }} </option>
                </select>
                <div class="input-group-button" ng-show="!editAllowed">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
            <textarea rows="7" ui-codemirror ui-codemirror-opts="editorOptions" ui-refresh="codeTwo.code" ng-model="codeTwo.code" id="to_snippet" required></textarea>
        </form>
    </div>
</div>
