<div class="small-12 columns">
    <div class="row">
        <div class="small-4 medium-4 medium-centered small-centered columns" ng-show="loading">
            <div class="loader">
                <span>{</span><span>}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns" ng-show="!loading">
            <div class="callout margin-top">
                <strong>Title:</strong> {{ formData.title }} &#x2299; <strong>Created by:</strong> <a href="">{{ formData.createdBy }}</a> &#x2299; <strong>On</strong> {{ formData.createdAt | date : 'medium' }}
                <br/> <strong>Description:</strong> {{ formData.description }}
                <br/> <strong>Languages available:</strong> <span ng-repeat="name in formData.snippets">{{ name.name }} &bull; </span>
                <br/>
                <div class="button-group margin-top">
                    <a ng-click="enableEditing()" class="button small" ng-show="profile">{{ editAllowed ? 'Enable' : 'Disable' }} editing</a>
                    <a class="button tiny hollow secondary"><i class="step fi-share size-14"></i></a>
                    <a class="button small hollow alert" target="new" href="https://plus.google.com/share?url=https%3A//code.khophi.co/%23/codes/{{ formData.codeId }}">Google+</a>
                    <a class="button small hollow" target="new" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//code.khophi.co/%23/codes/{{ formData.codeId }}">Facebook</a>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns" ng-show="!loading && !editAllowed && profile.username !== formData.createdBy">
            <div class="callout margin-top">
                <p class="lead">
                    You can only edit the code 'Title' and 'Description' created by you. This was created by "{{ formData.created }}".
                </p>
            </div>
        </div>
        <div class="small-12 medium-6 columns" ng-show="!loading && !editAllowed && profile.username === formData.createdBy">
            <div class="callout margin-top">
                <form ng-submit="updateCode()" novalidate>
                    <div class="small-12 columns">
                        <label>Name
                            <input type="text" ng-model="formData.title">
                        </label>
                    </div>
                    <div class="small-12 columns">
                        <textarea ng-model="formData.description" rows="3"></textarea>
                    </div>
                    <input type="submit" class="button" ng-disabled="updatingCode">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns" ng-show="!loading">
            <form ng-submit="saveLanguage(codeOne)" name="myForm" novalidate>
                <div class="input-group">
                    <span class="input-group-label">From</span>
                    <select class="input-group-field" ng-model="codeOne.name" ng-change="codeOneChanged(codeOne.name)" ng-disabled="editAllowed && profile" ng-class="{ dimmed: refreshOne == true }" type='text' required>
                        <option ng-repeat="(lang, name) in languages" value="{{ lang }}"> {{ name }} </option>
                    </select>
                    <div class="input-group-button" ng-show="!editAllowed && profile.username === codeOne.createdBy || !codeOne.createdBy">
                        <input type="submit" class="button" value="Submit">
                    </div>
                </div>
                <textarea ui-codemirror ui-codemirror-opts="editorOneOptions" ui-refresh="codeOne.code" ng-model="codeOne.code" id="from_snippet" required></textarea>
                <span style="border-top:1px solid grey;" ng-show="codeOne.createdBy">By: <a href="">{{ codeOne.createdBy }}</a> <br/> On {{ codeOne.createdAt | date : 'medium' }}</span>
                <span style="border-top:1px solid grey;" ng-show="!codeOne.createdBy">Own this snippet. <a ui-sref="new">Create now.</a></span>
            </form>
            <!-- <div style="margin-top:10px;">
            <a ng-click="enableAlternative('one')" class="button">Add {{ codeOne.name }} alternative</a>
            <div class="callout" ng-show="showRevOne">
                <form ng-submit="addAlternative(revisionOne, codeOne)" name="alternateOne" novalidate>
                    <h4>Add code below</h4>
                    <div class="row">
                        <div class="small-12 columns">
                            <textarea ui-codemirror ui-codemirror-opts="revisionsAdd" ng-model="revisionOne.code" required></textarea>
                        </div>
                    </div>
                    <input type="submit" class="button">
                </form>
                <hr>
            </div>
            <h5>Alternatives</h5>
            <div>
                <p>Added by: Username at Date here</p>
                <textarea ui-codemirror ui-codemirror-opts="revisionsShow" ui-refresh="revisionTwo.code"></textarea>
            </div>
        </div> -->
        </div>
        <div class="small-12 medium-6 large-6 columns" ng-show="!loading">
            <form ng-submit="saveLanguage(codeTwo)" novalidate>
                <div class="input-group">
                    <span class="input-group-label">To</span>
                    <select class="input-group-field" ng-model="codeTwo.name" ng-change="codeTwoChanged(codeTwo.name)" ng-disabled="editAllowed && profile" ng-class="{ dimmed: refreshOne == true }" type='text' required>
                        <option ng-repeat="(lang, name) in languages" value="{{ lang }}"> {{ name }} </option>
                    </select>
                    <div class="input-group-button" ng-show="!editAllowed && profile.username === codeTwo.createdBy || !codeTwo.createdBy">
                        <input type="submit" class="button" value="Submit">
                    </div>
                </div>
                <textarea rows="7" ui-codemirror ui-codemirror-opts="editorTwoOptions" ui-refresh="codeTwo.code" ng-model="codeTwo.code" id="to_snippet" required></textarea>
                <span style="border-top:1px solid grey;" ng-show="codeTwo.createdBy">By: <a href="">{{ codeTwo.createdBy }}</a> <br/>On {{ codeTwo.createdAt | date : 'medium' }}</span>
                <span style="border-top:1px solid grey;" ng-show="!codeTwo.createdBy">Own this snippet. <a ui-sref="new">Create now.</a></span>
            </form>
            <!-- <div style="margin-top:10px;">
            <a ng-click="enableAlternative('two')" class="button">Add {{ codeTwo.name }} alternative</a>
            <div class="callout" ng-show="showRevTwo">
                <form ng-submit="addAlternative(revisionTwo, codeTwo)" name="alternateTwo" novalidate>
                    <h4>Add code below</h4>
                    <div class="row">
                        <div class="small-12 columns">
                            <textarea ui-codemirror ui-codemirror-opts="revisionsAdd" ng-model="revisionTwo.code" required></textarea>
                        </div>
                    </div>
                    <input type="submit" class="button">
                </form>
                <hr>
            </div>
            <h5>Alternatives</h5>
            <div ng-repeat="item in revisionTwo | limitTo:'2'">
                <p>Added by: {{ item.createdBy }} at {{ item.createdAt | date : 'medium'}}</p>
                <textarea ui-codemirror ui-codemirror-opts="revisionsShow" ng-model="item.code" ui-refresh="item.code"></textarea>
            </div>
        </div> -->
        </div>
    </div>
    <!-- for Disqus -->
    <div class="row">
        <div class="small-12 large-8 large-centered columns">
            <div class="callout comments">
                <h4>Let's discuss</h4>
                <div id="disqus_thread"></div>
                <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */
                /*
                var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement('script');

                    s.src = '//codebyside.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
