<div ng-controller="LoginController">
    <div class="small-12 large-6 large-centered medium-8 medium-centered columns">
        <div class="alert callout" data-closable ng-show="error">
            <h5>Duh!</h5>
            <p>{{ error }}</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form ng-submit="login()">
            <fieldset class="fieldset">
                <legend>Login</legend>
                <div class="row">
                    <div class="small-6 columns">
                        <label>Email
                            <input type="email" ng-model="email" placeholder="my@email.com" required autofocus="">
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <label>Password
                            <input type="password" ng-model="password" placeholder="********" required>
                        </label>
                    </div>
                </div>
                <input type="submit" class="button"></input>
            </fieldset>
            <p>Login with...</p>
            <div class="small button-group">
                <a class="button" ng-click="googleAuth()">Google</a>
                <a class="button">Facebook</a>
                <a class="button">Github</a>
            </div>
        </form>
    </div>
</div>
