<div ng-controller="LogRegController">
    <div class="large-6 large-centered medium-8 medium-centered small-12 columns">
        <div class="alert callout" data-closable ng-show="error">
            <h5>Duh!</h5>
            <p>{{ error }}</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="callout" style="margin-top:10px;">
            <h4>Sign up with</h4>
            <div class="button-group">
                <a class="button" ng-click="googleAuth()" class="success">Google</a>
                <a class="button" ng-click="facebookAuth()">Facebook</a>
            </div>
        </div>
        <hr>
        <form ng-submit="register()" name="registerForm">
            <fieldset class="fieldset">
                <legend>Quick sign up</legend>
                <div class="row">
                    <div class="small-6 columns">
                        <label>Email
                            <input ng-model="formData.email" type="email" name="email" placeholder="my@email.com" required autofocus="">
                            <span class="form-error">
                                  Email is required
                                </span>
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <label>Password
                            <input type="password" name="password" ng-model="formData.password" placeholder="********" max="32" min="8" required>
                        </label>
                    </div>
                </div>
                <input type="submit" class="button"></input>
            </fieldset>
        </form>
    </div>
</div>
