<div class="container">
    <div class="row">
        <div ng-show="!list.length">
            <div class="loader">
                <span>{</span><span>}</span>
            </div>
        </div>
        <table id="mytable" class="table table-bordred table-striped table-hover" ng-show="list.length">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Featured?</th>
                <th>Upvote</th>
                <th>Vote count</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in list | orderBy: '-createdAt' ">
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }} </td>
                    <td>
                        <input type="checkbox" ng-model="item.featured" ng-change="list.$save(item)" name="featured" id="featured">
                        <label for="featured" class="{{ item.featured ? 'text-success' : 'text-muted' }}" ng-bind="item.featured ? 'Yep, featured!' : 'Not featured'"></label>
                    </td>
                    <td>
                        <a class="btn btn-default" ng-click="upVote(item, vote);">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    </td>
                    <td>
                        {{ votes.votes }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
