<div ng-controller="LogRegController">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <form ng-submit="register()" name="registerForm">
            <h4>Register</h4>
            <div class="form-group">
                <label for="username">Username </label>
                <input ng-model="formData.username" type="text" class="form-control" name="username" id="username" placeholder="eg. e-equals-mcsquare" required autofocus>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input ng-model="formData.email" class="form-control" type="email" name="email" id="email" placeholder="my@email.com" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" ng-model="formData.password" placeholder="********" max="32" min="8" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </form>
    </div>
</div>
