<div class="row">
    <div class="small-12 medium-8 medium-centered">
        <div ng-show="loading" class="float-center">
            <div class="loader">
                <span>{</span><span>}</span>
            </div>
        </div>
        <div ng-show="!allowed && !loading">
            <p class="lead">You are not allowed</p>
            <p>
                Why do you want to delete what does not belong to you?
            </p>
            <div class="small button-group margin-top">
                <a class="button success" ui-sref="detail({ codeId: codeId })" aria-label="Close modal">Cancel</a>
            </div>
        </div>
        <span ng-show="allowed && !loading">
        <p class="lead">Proceed with deletion.</p>
        <p>Are you sure?</p>
        <div class="small button-group margin-top">
            <a class="button success" ui-sref="detail({ codeId: codeId })">Cancel</a>
            <a class="button alert hollow" ng-click="deleteCode();">Delete</a>
        </div>
        </span>
    </div>
</div>
