<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3" ng-show="loading">
            <div class="loader">
                <span>{</span><span>}</span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="page-header" ng-show="!loading">
                <h1>{{ formData.title }} 
                <small><a data-toggle="modal" style="cursor:pointer;" data-target="#myModal">more/edit</a> Languages: <span ng-repeat="name in formData.snippets">{{ name.name }} <span ng-if="!$last">&bull;</span> </span></small>
                </h1>
                <hr>
                <div class="btn-group">
                    <a class="btn btn-primary" ng-show="profile" ng-click="enableEditing()" class="success">{{ editAllowed ? 'Enable' : 'Disable' }} editing</a>
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Share
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a target="new" href="https://plus.google.com/share?url=https%3A//code.khophi.co/%23/codes/{{ formData.codeId }}">Google+</a></li>
                            <li><a target="new" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//code.khophi.co/%23/codes/{{ formData.codeId }}">Facebook</a></li>
                        </ul>
                    </div>
                    <a ng-show="formData.uid == profile.$id" class="btn btn-danger" ui-sref="delete({ codeId: formData.codeId })">Delete</a>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Description: {{ formData.description}}</p>
                            Created by: <a href="">{{ formData.createdBy }}</a>
                            <br> {{ formData.createdAt | date : 'medium' }}
                            <br> Languages available: <span ng-repeat="name in formData.snippets">{{ name.name }} &bull; </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                From language section
            </div>
            <div class="col-sm-6">
                To language section
            </div>
        </div>
    </div>
</div>
