<style type="text/css">
.about-box {
    padding: 10px;
    margin-top: 20px;
}

.divider {
    border-bottom: 2px solid #d6d6d6;
    padding-bottom: 2px;
}

.word-section {
    margin: 10px 0 10px 0;
    padding: 5px;
}

.column:hover {
    border: 1px solid grey;
}
</style>
<div class="small-12 medium-5 columns">
    <img src="../assets/images/logo.png">
</div>
<div class="small-12 medium-5 columns end">
    <div class="about-box">
        <h3>Code is beautiful!</h3>
        <h5>Side by Side - the beauty doubles.</h5>
        <p class="lead">
            Tens of programming languages are out there. Fascinating it is! Even more, is the ability to see how problems, solved in one language, is approached, yet in another.
        </p>
        <p>
            Enjoy learning how the code you write compares to many popular programming languages today.
        </p>
    </div>
</div>
<div class="small-12 columns">
    <img src="../assets/images/welcome.png">
</div>
<div class="small-12 columns word-section">
    <div class="callout">
        <h2 class="text-center">
        Pick up the accent of the new language you are learning fast. 
    </h2>
        <h4 class="text-center">
        Reshape your thinking! See codes side by side
    </h4>
    </div>
</div>
<div class="row small-up-1 medium-up-2 large-up-4">
    <div class="column">
        <h4 class="text-center divider">Side-by-Side
        </h4>
        <p class="divider">
            <img src="../assets/images/about-1.png" alt="">
        </p>
        <p class="text-center">
            Call it, CodeBySide, designed to give you instant access to comparing code snippets, submitted your peer programmers.
        </p>
        <p class="text-center">
            <a href="#/codes/-KL7i0Vj9WSshe8k1E8r" class="button small">See example</a>
        </p>
    </div>
    <div class="column">
        <h4 class="text-center divider">Learn more
        </h4>
        <p class="divider">
            <img src="../assets/images/about-2.png" alt="">
        </p>
        <p class="text-center">
            Call it, CodeBySide, designed to give you instant access to comparing code snippets, submitted your peer programmers.
        </p>
        <p class="text-center">
            <a ui-sref="home" class="button small">Learn</a>
        </p>
    </div>
    <div class="column">
        <h4 class="text-center divider secondary">Teach others
        </h4>
        <p class="divider">
            <img src="../assets/images/about-3.png" alt="">
        </p>
        <p class="text-center">
            Call it, CodeBySide, designed to give you instant access to comparing code snippets, submitted your peer programmers.
        </p>
        <p class="text-center">
            <a ui-sref="new" class="button small">Start helping</a>
        </p>
    </div>
    <div class="column">
        <h4 class="text-center divider">Share & Discuss
        </h4>
        <p class="divider">
            <img src="../assets/images/about-4.png" alt="">
        </p>
        <p class="text-center">
            Call it, CodeBySide, designed to give you instant access to comparing code snippets, submitted your peer programmers.
        </p>
    </div>
</div>
<div class="small-12 columns word-section">
    <h2 class="text-center">Support</h2>
    <div class="callout">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h3>Get started with CodeBySide</h3>
                <p>
                    On the homepage, click on any of the listed recent CodeSides. Select the 'From' dropdown and choose language you wish to compare to the 'To' box on the right.
                </p>
                <p>
                    Switch the languages from the dropdown menus to see language change instantly!
                </p>
                <p>
                    To Add a new CodeSide, <a ui-sref="login">Login</a> and visit the <a ui-sref="new">New</a> page and follow the onscreen instructions!
                </p>
                <p>
                    Watch video to learn more:
                </p>
            </div>
            <div class="small-12 medium-6 columns">
                <h3>Terms of Service</h3>
                <p>
                    All code submitted to CodeBySide are under the default license of CC-BY-SA, unless otherwise indicated by the original poster (OP).
                </p>
                <h3>Privacy Policy</h3>
                <p>
                    CodeBySide is built using entirely Firebase SDK 3.0. Firebase products used include Authentication, Hosting and Database. The most private data CodeBySide happens to access from you is your Email, of which we believe belongs to you and only you. We only use emails to ensure at least, humans are involved in submitting code after the email is verified.
                </p>
            </div>
        </div>
    </div>
</div>
