<div class="small-12 medium-8 medium-centered columns">
  <div class="callout" class="margin-top">
    <h3>About Code by Side</h3>
    <p>
      Ever wanted to see how your code will be rewritten in another programming language?
    </p>
    <p>
      Code by Side allows you to learn from others and challenge yourself in solving interesting code snippets, converting the best of code into your favorite programming language.
    </p>
    <p>
      To send feedback or contact support, send email to hello@khophi.co.
    </p>
  </div>
</div>