<div class="small-12 medium-6 columns">
    <div class="callout" style="margin-top:10px;">
        <h3>About CodeBySide</h3>
        <p>
            Ever wanted to see how your code will be rewritten in another programming language?
        </p>
        <p>
            CodeBySide allows you to see, side-by-side, how a function or code snippet in on language looks in another.
        </p>
        <p>
            To send feedback or contact support, send email to hello@khophi.co.
        </p>
    </div>
</div>
<div class="small-12 medium-6 columns">
  <div class="">
    <h3>How to use CodeBySide</h3>
    <p>
        Incremental updates are rolled out to CodeBySide at every 5 days intervals or less.
    </p>
</div>
