<div class="small-12 medium-6 columns">
    <div class="callout" style="margin-top:10px;">
        <h3>About CodeBySide</h3>
        <p>
            Ever wanted to see how your code will be rewritten in another programming language?
        </p>
        <p>
            CodeBySide allows you to see, side-by-side, how a function or code snippet in on language looks in another.
        </p>
        <p>
            To send feedback or contact support, send email to hello@khophi.co.
        </p>
    </div>
</div>
<div class="small-12 medium-6 columns">
    <div class="callout" style="margin-top:10px;">
        <h3>How to use CodeBySide</h3>
        <p>
            On the homepage, click on any of the listed recent CodeSides. Select the 'From' dropdown and choose language you wish to compare to the 'To' box on the right.
        </p>
        <p>
            Switch the languages from the dropdown menus to see language change instantly!
        </p>
        <p>
            To Add a new CodeSide, <a ui-sref="login">Login</a> and visit the <a ui-sref="new">New</a> page and follow the onscreen instructions!
        </p>
    </div>
</div>
<div class="small-12 medium-6 columns">
    <div class="callout" style="margin-top:10px;">
        <h3>Terms of Service</h3>
        <p>
            All code submitted to CodeBySide are under the default license of CC-BY-SA, unless otherwise indicated by the original poster (OP).
        </p>
        <h3>Privacy Policy</h3>
        <p>
            CodeBySide is built using entirely Firebase SDK 3.0. Firebase products used include Authentication, Hosting and Database. The most private data CodeBySide happens to access from you is your Email, of which we believe belongs to you and only you. We only use emails to ensure at least, humans are involved in submitting code after the email is verified.
        </p>
    </div>
</div>
